
.advertisement {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  height: 50vh;
  width: 50vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0px 120px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.ad-content {
  position: relative;
  justify-content: center;
}

.ad-content img {
  width: 100%;
  border-radius: 8px;
}

.ad-text {
  margin-top: 15px;
  text-align: center;
}

.ad-text h2 {
  font-size: 16px;
  margin: 0;
  color: #333;
  text-align: center;
}

.ad-text p {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}

.ad-text ul {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
  text-align: left;
  margin-left: 14%;
  margin-right: 15%;
  font-weight: 100;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

#closeAd {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.progress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #215eb9;
  transition: width 5s linear;
}

/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {

  font-family: 'Bungee Outline', sans-serif;
  font-weight: 900;
  overflow-y:  hidden;
  overflow-x: hidden;
  /*animation: blur 2s ease-in-out;*/
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Title Styles */
#title_container {
  width: calc(100% - 14px);
  height: calc(100vh - 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  user-select: none;
  min-height: 10px;
  /*animation: changeColour 0.3s linear infinite;*/
  /*background: #28324d;*/
  /*background: linear-gradient(to top right, #ffc802, #ff4800, #0819d2, #0819d2);*/
  opacity: 1;
  background: linear-gradient(to right, #0000000f, #00000048, #000000, #00000048, #0000000f);
  /*box-shadow: 0px 0px 50px 20px #000000;*/
  backdrop-filter: blur(6px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(20px); /* For Safari */
  margin-right: 14px;
}



#title_container:hover {
  cursor: normal;

}

@keyframes changeColour {
  0%, 100% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  10% {
    /*#ff631b*/
    background: linear-gradient(to right, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  20% {
    background: linear-gradient(to right, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  30% {
    background: linear-gradient(to right, #3448ff, #721bff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  40% {
    background: linear-gradient(to right, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  50% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #721bff, #ff631b, #ff631b, #721bff, #3448ff, #3448ff, #3448ff);
  }
  60% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff);
  }
  70% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff);
  }
  80% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff);
  }
  90% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b);
  }
}






/* Add a media query for smaller screens (phones) */
@media (max-width: 800px) {
  #title_container {
    display: none; /* Hide the title container on smaller screens */
  }
  #chat_content_container {
    padding-top: 10px;
    top: 0px;
  }

}








#title_inner_container {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
}



#title {
  display: inline-block;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 0px;
  user-select: none;

}

#fileInput {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  align-items: center;
}

/* Join Form Styles */
#join_container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: calc(100vh - 300px);;
  z-index: 30000;

}

#join_inner_container {
  width: 50%;
  height: 100%;

}

#join_input_container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

}

#join_input {
  width: 60%;
  height: 40px;
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  background-color: #000000;
  transition: ease-in-out 0.2s;
  border-radius: 6px;
}


#join_input:focus {
  caret-color: rgb(0, 0, 0); /* Change this to your desired color */
  /*box-shadow: 0 10px 30px -17px #1D3354;*/
  background-color: #ffffff;
  color: #000000;
  border-bottom: #a3a3a3 solid 2px;
  transition: ease-in-out 0.2s;
  border-radius: 0px;
  font-size: 15px;
}

#join_input:focus::placeholder {
  color: #a7a7a7;
}



#join_input::placeholder {
  color: #a7a7a7;
}

#join_button_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#join_button {
  width: 60%;
  height: 40px;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  margin-top: 100px;
  transition: background-color  ease-in-out 0.5s;
}

#join-button .enabled{
   border: #f36004 2px solid;
   transition: background-color  ease-in-out 0.5s;
}

#password_input_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#password_input {
  width: 60%;
  height: 40px;
  color: #000000;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  /*border-bottom: 2px solid #1D3354;*/
  transition: ease-in-out 0.2s;
  border-bottom: #ffffff solid 2px;
}



#password_input:focus {
  /*box-shadow: 0 10px 30px -17px #1D3354;*/
  background-color: transparent;
  color: #000000;
  border-bottom: #a3a3a3 solid 2px;
  transition: ease-in-out 0.2s;
  border-radius: 0px;


  caret-color: rgb(0, 0, 0); /* Change this to your desired color */
}

#password_input:focus::placeholder {
  color: #a7a7a7;
}

#password_input:hover::placeholder {
  color: #a7a7a7;
}

#password_input::placeholder {
  color: #a7a7a7;
}

.label-style {
  font-size: 20px;
}



/* Greeting Styles */
#greeting_container {
  background-color: #ffffff;
  padding: 8px;
  color: #000000;
  text-align: left;
}

#greeting_text {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

/* Chat Styles */

  #chat_container {
    width: 100%;
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Make the children stack vertically */
    justify-content: space-between; /* Push content to the top and bottom */
    margin-top: 0;
    /* Fade in container */
    animation: fadeIn 1s linear;
    padding: 0;
    z-index: 30000;
    background-color: #ffffff;
  }

  .chat_container_dark_mode {
    background-color: #ffffff;
  }

#chat_inner_container {
  width: 100%;
  height: 100%;
  margin-right: 0px;
}

#chat_content_container {

  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  font-family: 'Varela Round', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 140px;
  padding-bottom: 130px;
  margin-top: 0px;
  font-weight: bolder;
  z-index: 10000;
    /* Set a maximum height for the chat container and enable overflow scrolling */
    max-height: 800px; /* Adjust the height as needed */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    transition: scroll-behavior 2s ease;

}

#chat_input_container {
  position: absolute;
  max-height: auto; /* Change to auto to accommodate the chat input */
  background-color: transparent;
  padding-left: 30px;
  padding-right: 15px;
  font-family: "Varela Round", sans-serif;
  margin-top: 10px;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Align items at the top */
  position: relative;
  overflow: visible;
  margin-top: 40px;
  white-space: normal;
  width: 100%;
  /*box-shadow: 0px -20px 50px 5px #000000;*/
  justify-content: center;
  margin-bottom: -60px;
  z-index: 2000;
  overflow-y: visible;
}

#chat_input {
  min-width: 450px;
  width: 60%;
  max-width: 1000px;
  min-height: 50px;
  background-color: transparent;
  color: #303030;
  font-size: 16px;
  padding: 7px;
  border-radius: 15px;
  margin-top: -180px;
  transition: ease-in-out 0.2s;
  padding-left: 20px;
  outline: #b5b5b5 solid 1px;
  left: 50%;
  backdrop-filter: blur(4px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(4px);
  white-space: normal; /* Ensure text wraps to the next line */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}





#chat_input:focus {
  transition: ease-in-out 0.2s;
  color: #000000;
  background-color: #ffffff;
  outline: #474747 solid 1px;
  width: 65%;
}

#chat_settings {
  position: absolute;
  bottom: calc(100vh - 75px);
  right: 25px;
  width: 50px;
  height: 50px;
  /*float: left;*/
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  color: #000000;
  z-index: 2000;
  transition: ease-in-out 0.2s;
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
  margin-top: -180px;
  backdrop-filter: blur(4px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #000000;
}

#chat_settings:hover {
  cursor: pointer;
  transform: translateY(0px);
  transition: ease 0.15s;
  background-color: #000000;
  color: #ffffff;
}

.sidebar {
  z-index: 1999;
  position: absolute;
  top: 0;
  right: -100px;
  width: 0;
  height: 100%;
  background-color: #f2f2f2;
  color: #000000;
  backdrop-filter: blur(4px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(4px);

  transition: left 0.3s ease;
  padding-top: 130px;
  display: block;
  opacity: 0;
  padding-left: 35px;
}

/*.sidebar i {
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
}

.sidebar i:hover {

  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.3);
}*/

#meet {
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
  animation: var(--meet-animation, none 1s infinite);
}

#meet:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.3);
}

.vibrating {
  animation: vibrate 0.5s infinite;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

.vibrating {
  animation: vibrate 0.5s infinite;
}


#music {
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
}

.spotify {
  margin-top: 25px;
  z-index: 1000;
  position: fixed;
  width: 75vw;
  opacity: 0;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0 0 70px #000000;
  border: 2px solid #ffffff;
  border-radius: 11px 11px 11px 11px;
  transition: 1s ease-in-out;
}

.spotify .buttons {
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: flex-end;
  width: calc(100% + 3.44px);
  background: #ffffff;
  border-radius: 11px 11px 11px 11px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.spotify .buttons button {
  flex: 1;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.spotify .buttons button:hover {
  transform: translateY(0px);
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
}

.playlist {
  height: 100%;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(4px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(4px);
  display: none;
  z-index: 999;
  transition: 0.4s ease-in-out;
}

#music:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.3);
}

#games {
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
}

#games:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.3);
}

#feedback {
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
}

#feedback:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.3);
}

.forms {
  position: fixed;
  width: 75vw;
  opacity: 0;
  height: 80vh;
  z-index: 1090;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0 0 70px #000000;
  border: 2px solid #ffffff;
  border-radius: 11px 11px 10px 10px;
  transition: 1s ease-in-out;
  background: #ffffffbe;
}

#light_mode {
  color: #000000;
  font-size: 25px;
  margin-bottom: 10vh;
  transition: 0.3s ease;
}

#light_mode:hover {
  color: #000000;
  rotate: 360deg;
  transition: 0.8s ease;
  cursor: pointer;
  transform: scale(1.3);
}

#light_mode:active {
  transform: scale(0.95);
  transition: 0.1s ease;
}


#chat_input_send {
  width: 50px;
  height: 50px;
  float: left;
  /*float: left;*/
  font-size: 22px;
  background-color: #00000029;
  text-align: center;
  color: #ffffff;
  z-index: 1000;
  transition: ease-in-out 0.4s;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-top: -180px;
  backdrop-filter: blur(4px); /* Change the amount of blur as needed */
  -webkit-backdrop-filter: blur(4px);
  border: 2px solid #ffffff29;
}

#chat_input_send.enabled {
  color: #ffffff;
  /*background-color: transparent;*/
  cursor: pointer;
  transition: ease-in-out 0.4s;
  background-color: #000000;
  border-radius: 15px;
  z-index: 1001;
  /*animation: BounceButton 0.5s ; Apply the animation once */
  border: 2px solid #ffffff;
}

#chat_input_send.enabled:hover {
  cursor: pointer;
  transform: translateY(-6px);
  transition: ease 0.15s;
}

#chat_input_send.sent {
  animation: SendButton 1s;
  transition: ease 0.2s;
}

@keyframes BounceButton {
  0% {
    transform: translateY(0); /* Initial and final position */

  }
  25% {
    transform: translateY(-10px); /* Bounce up */
  }

  50% {
    transform: translateY(0px); /* Bounce up */
  }
  75% {
    transform: translateY(-10px); /* Bounce up */
  }


}

@keyframes SendButton {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  85% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



#chat_logout_container {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: -50px;
  background: none;
  transition: ease-in-out 0.5s; /* Add transition to the container */
  border-radius: 10px;
}

#chat_logout {
  color: #000000;
  cursor: pointer;
  font-size: 12px; /* Initial font size */
  transition: ease-in-out 0.3s; /* Add transition to the logout button */
  border-radius: 12px;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 0px;
  
}

#chat_logout:hover {

  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;

}


/* Message Styles */
/* Apply the normal message styles to all messages */
.message_container {
  background: var(--message-container-background-color, #f2f2f2);
  /*background-color: #f2f2f2;*/
  border-radius: 0px 15px 15px 15px;
  /*box-shadow: 0 4px 8px 0 rgba(9, 71, 106, 0.2);*/
  transition: height 0.3s ease; /* Add this line for smooth height transition */
  position: relative;
  margin-bottom: 26px;
  max-width: 90%;
  white-space: pre-wrap;
  width: fit-content;
  min-width: 150px;
  margin-left: 20px;
  transition: ease-in-out 0.3s;
  color: var(--message-container-color, #000000);
  /*animation: Newmessage 0.5s 1;*/
  /*padding-left: 16px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-top: 10px;*/
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-top: 14px;

  line-height: 20px;
  font-size: 12px;
  user-select: text;

} 

.message_container:hover {
  z-index: 1; /* Make the hovered message appear above the overlay */
  transition: ease-in-out 0.15s;
  /*background-color: #000000;*/
  /*box-shadow: 0 0px 4px 3px rgba(105, 105, 105, 0.2);*/
  color: #000000;
  /*margin-left: 0px;*/
  margin-left: 30px;
  background-color: #e0e0e0;
  cursor: normal;
  margin-bottom: 40px;
}

.message_container:hover .message_timestamp {
  transition: 0.3s ease; /* Add this line for smooth height transition */
  display: block; /* The element will appear when hovering over .message_container */
  opacity: 1;
}


@keyframes Newmessage {
  0%, 100% {
    transform: translate(0px);

  }
  50% {
    transform: translateX(100px);
  }
}

/*HHGSougwoqudgwgFDUOEWgfdwD*/
/*HHGSougwoqudgwgFDUOEWgfdwD*/

.message_user:hover {
  background: none; /* Remove the background on hover */ 
  cursor: pointer;

}

/* ... Your existing CSS ... */


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.message_content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
  margin: 0; /* Remove any default margins */
  word-break: break-word; /* Break long words to avoid overflowing */
}



.message_user {
  position: absolute;
  margin-top: -35px;
  margin-left: -13px;

  font-weight: 900;
  font-size: 13px;
  margin-bottom: 4px;
  /*color: #095495;*/
  color: #353535;
  color: var(--message-user-color, #215eb9);
  font-weight: 900;
  user-select: none;
}

/* Styling for the timestamp in chat messages */
.message_timestamp {
  font-size: 1px;
  color: #8a8a8a;
  user-select: none;
  opacity: 0;
  display: block;
  right: -60px;
  bottom: -20px;
  transition:  0.3s ease-in-out; /* Add a smooth transition */
  position: absolute;
  width: 200px;
  font-weight: 100;
}

  .link-preview {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
  }

  .preview-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }

  .preview-info {
    flex: 1;
  }

  .preview-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .preview-description {
    color: #666;
  }


/* Optional: Add this CSS to style the delete icon */
.delete-icon {
  color: red;
  cursor: pointer;
  margin-left: 5px;
}



.message_content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
}

  
  .enabledlog{
    transition: background-color  ease-in-out 0.5s;
    -webkit-text-fill-color: #ffffff;
    background-color: #4781de;

    cursor: pointer;

  }

  .enabled{
    transition: background-color  ease-in-out 0.5s;
    -webkit-text-fill-color: #ffffff;
    background-color: #4c8aec;

    cursor: pointer;


  }
  
  #title_container.chat_title_container{
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    height: 100px;
  }
  #title.chat_title{
    transition: 0.8s;
    font-size: 37px;
  }
  .loader_container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
  
    border-top: 6px solid #5a5a5a;
    border-bottom: 6px solid #5a5a5a;
    border-left: 6px solid #e0dede;
    border-right: 6px solid #5a5a5a;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  }
  @keyframes blur {
    0% {filter: blur(10px);}
    100% {}
  }
  ::selection {
    background-color: #D64045;
    color: #fff;
  }
  /* width */
  ::-webkit-scrollbar {
    background: var(--custom-scrollbar-track-color, #0000000f);
    height: 80%;
    width: 14px;
    z-index: 1000001;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--custom-scrollbar-track-color, #0000000f);
    border-radius: 0px
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--custom-scrollbar-thumb-color, #215eb9);
  }

 










































  /* Styles for the group chat container and list */
#group_chat_container {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

#group_chat_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  z-index: 2000;
}

#group_chat_list {
  margin-bottom: 10px;
  z-index: 2000;
}

/* Styles for the plus button */
#group_chat_plus_button {
  background-color: #3e64ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 2000;
}

/* Styles for the search bar */
#search_bar {
  display: none;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease;
  z-index: 2000;
}

#search_bar.active {
  display: block;
  width: 150px;
}

